.theCard {
    max-width: 350px;
    box-shadow: 9px 4px 35px 2px rgba(15,89,199,0.75);
-webkit-box-shadow: 9px 4px 35px 2px rgba(15,89,199,0.75);
-moz-box-shadow: 9px 4px 35px 2px rgba(15,89,199,0.75);
}


#title {
  padding: 1.2rem;
  text-align: center;
}


@media only screen and (max-width: 600px) {
    body {
      background-color: rgba(230, 230, 230, 0.151);
    }

    .theCard {
        /* max-width: 350px; */
        box-shadow: 9px 4px 35px 2px rgba(15,89,199,0.75);
    -webkit-box-shadow: 9px 4px 35px 2px rgba(15,89,199,0.75);
    -moz-box-shadow: 9px 4px 35px 2px rgba(15,89,199,0.75);

    }

    #title {
        margin-top: 5vh;
        padding: 1em;
        font-size: 1.4em;
        text-align: center;
    }

 
  }



  @media only screen and (min-width: 600px) and (max-width:1200px) {
    body {
      background-color: rgba(255, 255, 255, 0.712);
    }

    .theCard {
         max-width: 500px; 
        box-shadow: 9px 4px 35px 2px rgba(15,89,199,0.75);
    -webkit-box-shadow: 9px 4px 35px 2px rgba(15,89,199,0.75);
    -moz-box-shadow: 9px 4px 35px 2px rgba(15,89,199,0.75);
        margin: 3vh auto;
        padding-left:3em;

    }

    #title {
        margin-top: 2vh;
        padding: 1em;
        font-size: 2em;
        text-align: center;
    }


  }