.theAppBar{
    background-color: #0b476f;
    background-image: linear-gradient(90deg, #0b476f 0%, #46a6e3 100%);
    
}

#brand {
    font-family:'monospace';
    font-size: 2em;
    flex-grow:1
}
@media only screen and (max-width: 600px) {
    
    .theAppBar {
        background-color: #337bac;
        background-image: linear-gradient(90deg, #7913b4 0%, #2e0b70 100%);
       
    }
    #brand {
        font-family:'monospace';
        font-size: 1.3em;
        flex-grow:1
    }
  }