.drawerBox {
    height: auto;
    width: 20vw;
    color: rgb(0, 0, 0);
}



@media only screen and (max-width: 600px) {
    .drawerBox {
        height: auto;
    width: 60vw;
    color: rgb(0, 0, 0);
    }
    
  
  }



  @media only screen and (min-width: 600px) and (max-width:1200px) {
   
    .drawerBox {
        height: auto;
        width: 70vw;
        color: rgb(0, 0, 0);
    }
  
  }